#tile {
  box-sizing: border-box;
  margin: 5px;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgrey;
}

#bottom-info {
  text-align: center;
}
#bottom-header {
  text-align: center;
}
