.user-image {
  border-radius: 100px;
  border: 5px red solid;
  background-image: url("https://ps.w.org/wp-user-avatar/assets/icon-256x256.png?rev=1755722");
  background-size: 100px 100px;
  height: 100px;
  width: 100px;
  position: absolute;
}
